<h1>List of Teacher here</h1>
<table>
<thead>
<tr>
<th>Name:</th>
<th>Subject:</th>
<th>Action:</th>

</tr>
</thead>

<tbody><%@teachers.each do |teach| %>
<tr>
<td><%= teach.name %>
</td>
<td><%= teach.subject %>
</td>
<td> <%= link_to "Delete", '#' %>
</td>
</tr>

</tbody>
<% end %>

</table>















